{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Panier{% endblock %}

{% block body %}
            <!-- Checkout Section Begin -->
            <section class="checkout spad">
                <div class="container">
                    <div class="checkout__form">
                        <form action="{{path("panier_paiement_validation")}}" method="post" id="validationCommande-form">
                            <div class="row">
                                <div class="col-lg-8 col-md-6">
                                    <h6 class="checkout__title">Informations Personnelles </h6>
                                    {% for u in utilisateur %}
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Prénom<span>*</span></p>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Nom<span>*</span></p>
                                                <input type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkout__input">
                                        <p>Pays<span>*</span></p>
                                        <input type="text">
                                    </div>
                                    <div class="checkout__input">
                                        <p>Adresse<span>*</span></p>
                                        <input type="text" placeholder="Adresse" class="checkout__input__add">
                                        <input type="text" placeholder="Apt, suite, unité, nom de l'entreprise (facultatif)">
                                    </div>
                                    <div class="checkout__input">
                                        <p>Ville<span>*</span></p>
                                        <input type="text">
                                    </div>
                                    <div class="checkout__input">
                                        <p>Code Postale<span>*</span></p>
                                        <input type="text">
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Téléphone<span>*</span></p>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Email<span>*</span></p>
                                                <input type="text">
                                            </div>
                                        </div>
                                    </div>
                                    {# Note pour le livreur
                                    <div class="checkout__input__checkbox">
                                        <label for="diff-acc">
                                            Instruction de livraison.
                                            <input type="checkbox" id="diff-acc">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="checkout__input">
                                        <p>Instruction de livraison<span>*</span></p>
                                        <input type="text"
                                        placeholder="Note complémentaires pour le livreur.">
                                    </div>#}
                                    {% endfor %}
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="checkout__order">
                                        <h4 class="order__title">Votre commande</h4>
                                        <div class="checkout__order__products">Produits <span>Total</span></div>
                                        <ul class="checkout__total__products">
                                            {% for lc in lcommande %}
                                                <li>01. Vanilla salted caramel <span>$ 300.0</span></li>
                                                <li>02. German chocolate <span>$ 170.0</span></li>
                                                <li>03. Sweet autumn <span>$ 170.0</span></li>
                                                <li>04. Cluten free mini dozen <span>$ 110.0</span></li>
                                            {% endfor %}
                                        </ul>
                                        <ul class="checkout__total__all">
                                            {% for c in commande %}
                                            <li>Total <span>150 €</span></li>
                                            {% endfor %}
                                        </ul>
                                        <button type="submit" class="site-btn" name="btnValidationCommande">Procéder au Paiement</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <!-- Checkout Section End -->
        <!--Info commande-->
        <!--Total prix-->
        <!--Total prix-->
    <a href="{{path('panier_paiement', { 'id': commande.id })}}">Acheter</a>
    <button id="Paiement" onclick="/paiement">Acheter</button>
{% endblock %}
