.__form {
    justify-content: center;
    display: flex;
}

.nice-select {
    float: none !important;
    width: 100% !important;
    margin-bottom: 20px !important;
}

.form__input
{
  margin-top: 5%;
}

.form__input input
{
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  display: block;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 20px !important;
}

.form__input textarea
{
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  display: block;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 20px !important;
}

.form__inputs button[type="submit"] {
    color: #111111;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #e1e1e1;
    padding: 14px 35px;
}

.nice-select.open .list {
  width: 100% !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container .form__inputs {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 25px;
}

.form__submit
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5%;
}